.events-sessions-list {
  display: none;

  &.active {
    display: block;
  }

  &__item {
    padding: rem-calc(25px) 0;
    font-family: $font-content;
    color: lighten($color-main-dark, 11%);
    border-bottom: 1px solid $color-borders;

    .session-title,
    .details-title {
      font-size: rem-calc(18px);
      font-weight: 600;
      text-transform: uppercase;
      line-height: 1;
    }

    .session-details {
      font-size: rem-calc(16px);
    }

    .session-details-dropdown {
      .dropdown-toggle {
        font-family: $font-content;
        font-size: rem-calc(16px);
        color: $color-contrast-1;
        text-transform: none;
        font-weight: 600;

        &:after {
          color: $color-contrast-1;
        }
      }
    }

    &:nth-child(2n) {
      background-color: lighten($color-grey-section-bg, 1.3%);
    }
  }

  .session-details-dropdown-content {
    width: rem-calc(420px);
    padding: rem-calc(20px);

    .details-title {
      margin-bottom: rem-calc(15px);
    }

    .details-attendance {
      line-height: 1;
      margin-bottom: rem-calc(15px);
    }
  }

  &.grouped {
    .events-sessions-list__item {
      border-left: 2px solid $color-borders;

      @media screen and (max-width: 768px) {
        border-left: 0;
      }
    }

    .events-sessions-grouped-date {
      padding-top: rem-calc(20px);

      @media screen and (max-width: 768px) {
        border-bottom: 1px solid $color-borders;
        padding-bottom: rem-calc(20px);
      }
    }
  }

  &.expanded {
    .events-speaker-photo {
      padding: rem-calc(20px);

      img {
        width: rem-calc(85px);
      }
    }

    .events-sessions-expanded-title {
      padding: 0 rem-calc(25px) rem-calc(25px);
      font-family: $font-content;
      color: lighten($color-main-dark, 11%);
      border-bottom: 1px solid $color-borders;
    }

    .events-sessions-expanded-speakers {
      padding-top: rem-calc(25px);
      padding-bottom: rem-calc(25px);
    }

    .events-sessions-expanded-about,
    .events-sessions-expanded-date {
      font-weight: 600;

      @media screen and (max-width: 768px) {
        padding-left: rem-calc(20px);
        padding-right: rem-calc(20px);
      }
    }

    .events-sessions-expanded-description {
      padding-right: rem-calc(25px);

      @media screen and (max-width: 768px) {
        padding-left: rem-calc(20px);
        padding-right: rem-calc(20px);
      }
    }
  }

  @media screen and (max-width: 768px) {
    .item {
      margin-bottom: rem-calc(15px);
    }
  }
}

.session-status-dropdown {
  .dropdown-toggle {
    padding-top: 0;
    padding-bottom: 0;
  }

  .dropdown__label {
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-block;
  }
}
